:local(.applyModal) {
  :local(.applyInfo) {
    // position: absolute;
    // bottom: 0;
    height: 54px;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #91d5ff;
    background-color: #e6f7ff;
    font-size: 12px;
    display: flex;
    align-items: center;
    i {
      color: #1890ff;
      font-size: 14px;
      margin-right: 10px;
    }
    :local(.time) {
      margin-left: 10px;
    }
  }

  
  :local(.container) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    
    :local(.item) {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      
    }

    
    
  }
  :local(.attachment) {
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  
}