/target/
!.mvn/wrapper/maven-wrapper.jar


mvnw
mvnw.cmd

.mvn/*
*.swp
#Ignore the password of database
src/main/resources/db.properties

#Ignore config of idea
.idea/*
*.iml

#Ignore target
target/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### application.yaml ###
src/main/java/resources/application.yaml
