:local(.container) {
  width: 100%;
  display: flex;
  // align-items: center;
  position: relative;
  padding: 20px 0;

 

  :local(.avatar) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    // background-color: tomato;
    flex-shrink: 0;
  }

  :local(.right) {
    flex-grow: 1;
    color: #444;
    :local(.user) {
      color: #7594B3;
      cursor: pointer;
      margin-left: 5px;
    }
  }
  :local(.options) {
    i {
      display: none;
      font-size: 14px;
      margin-right: 10px;
      
    }
    :local(.reply) {
      display: inline-block;
      color: #7594B3;
      cursor: pointer;
    }
  }

  &:hover {
    background-color: #e6e6e6;
    i {
      display: inline-block;
    }
  }
  
}