@import '~@utils/constant.module.scss';
:local(.container) {
  // width: $center-width;
  margin: auto;
  padding-top: 30px;
  height: 100%;
  overflow: auto;
  :local(.btnGroup) {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-right: 20px;
    }
  }

  :local(.imgWrapper) {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
    :local(.cover) {
      display: none;
      // &:hover {
      //   width: 100%;
      //   height:100%;
      //   background-color: rgba(0, 0, 0, 0.5);
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   i {        
      //     color: white;
      //     font-size: 28px;
      //   }
      // }
     
    }
    &:hover {
      :local(.cover) {
        width: 100%;
        height:100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        i {        
          color: white;
          font-size: 28px;
        }
      }
    }
  }
}