@import '~@utils/constant.module.scss';
:local(.container) {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  overflow-y: auto;
  :local(.headerContainer) {
    width: 100%;
    height: 382px;
    background-size: cover;
    background-position: center center;
    vertical-align: bottom;
    position: relative;
    :local(.likeBtn) {
      width: $center-width;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      button {
        float: right;
        margin-right: 30px;
      }
    }
    :local(.titleWrapper) {
      width: $center-width - 192px;
      margin: auto;
      color: white;
      position: relative;
      bottom: -318px;
      left: 83px;
      overflow: hidden;
      white-space: nowrap;


      & > div {
        text-shadow: 0 1px 3px rgba(0, 0, 0, .9)
      }

      & > div:hover {
        white-space: nowrap;
        display: inline-block;
        animation: titleSlider 20s;
      }
      

    }
  }

  :local(.infoContainer) {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;

    :local(.centerContainer) {
      width: $center-width;
      margin: auto;
      display: flex;
      height: 100%;
      justify-content: space-between;
      padding-left: 130px;
      position: relative;

      :local(.creatorAvatar) {
        margin: auto;
        position: absolute;
        top: -80px;
        left: 0;
        width: 120px;
        height: 120px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
      }

      :local(.left) {
        padding-top: 20px;
        font-size: 14px;
      }
      :local(.right) {
        display: inline-flex;
        align-items: center;
      }

      :local(.headerBtn) {
        width: 120px;
        height: 100%;
        border-left: 1px solid #e8e8e6;
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;
        i {
          font-size: 20px;
        }

        &:last-child {
          border-right: 1px solid #e8e8e6;
        }

      }
    }
  }
  :local(.splitLine) {
    width: 100%;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
  }

  :local(.commentContainer) {
    padding: 10px;
    :local(.commentItem):not(:first-child) {
      border-top: 1px solid #e2e2e2;
    }
    // :local(.commentItem):first-child {
    //   border-top: none;
    // }
  }
}

@keyframes titleSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}